@import "../consts.scss";

.data-manager {
    width: 90%;
    margin: 0 auto;
    color: $lazureTextColor;


    .data-windows {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .data-manager {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .data-manager {
        flex-direction: column;
    }
}
