@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="data-manager">
    <div class="data-windows">
        <data-window name="Курс доллара к рублю" code="UsdToRub"></data-window>
        <data-window name="Индекс Французской биржы CAC40" code="Cac40"></data-window>
        <data-window name="Индекс Шаньханьской биржы CSI200" code="Csi200"></data-window>
        <data-window name="Индекс Dow&Jones" code="DowJones"></data-window>
        <data-window name="ВВП по ППС на душу населения (Россия)" code="GdpPerCapitaPpp"></data-window>
        <data-window name="Цена на золото" code="Gold"></data-window>
        <data-window name="Инфляция (Россия)" code="Inflation"></data-window>
        <data-window name="Индекс московской биржи ММВБ" code="Mmvb"></data-window>
        <data-window name="Цена на нефть марки Brent" code="OliBrent"></data-window>
        <data-window name="Цена на нефть марки Light" code="OliLight"></data-window>
        <data-window name="Ставка рефинансирования (Россия)" code="RefinancingRate"></data-window>
        <data-window name="Индекс московской биржи РТС" code="Rts"></data-window>
        <data-window name="Индекс S&P 500" code="SAndP"></data-window>
        <data-window name="Торговый баланс (Россия)" code="TradeBalance"></data-window>
    </div>
    <div class="data-for-neural-network">
        <container name="Итоговые данные для нейронной сети" v-bind:callback="downloadInfo">
            <spinner v-bind:show="!wasInit"></spinner>
            <div class="content" v-show="wasInit">
                <div>Данные с {{ info.from }} по {{ info.to }}</div>
                <div>Кол-во: <div class="value">{{ info.count }}</div></div>
                <br />
                <div>Мат. ожидание:</div>
                <div class="table">
                    <table>
                        <tr>
                            <template v-for="fieldName in info.fieldsNames">
                                <th>{{ fieldName }}</th>
                            </template>
                        </tr>
                        <tr>
                            <template v-for="value in info.expectedValues">
                                <td>{{ value.toFixed(8) }}</td>
                            </template>
                        </tr>
                    </table>
                </div>
                <br />
                <div>Дисперсия:</div>
                <div class="table">
                    <table>
                        <tr>
                            <template v-for="fieldName in info.fieldsNames">
                                <th>{{ fieldName }}</th>
                            </template>
                        </tr>
                        <tr>
                            <template v-for="value in info.dispersions">
                                <td>{{ value.toFixed(8) }}</td>
                            </template>
                        </tr>
                    </table>
                </div>
                <br />
                <div>Максимум:</div>
                <div class="table">
                    <table>
                        <tr>
                            <template v-for="fieldName in info.fieldsNames">
                                <th>{{ fieldName }}</th>
                            </template>
                        </tr>
                        <tr>
                            <template v-for="value in info.maxs">
                                <td>{{ value.toFixed(8) }}</td>
                            </template>
                        </tr>
                    </table>
                </div>
                <br />
                <div>Минимум:</div>
                <div class="table">
                    <table>
                        <tr>
                            <template v-for="fieldName in info.fieldsNames">
                                <th>{{ fieldName }}</th>
                            </template>
                        </tr>
                        <tr>
                            <template v-for="value in info.mins">
                                <td>{{ value.toFixed(8) }}</td>
                            </template>
                        </tr>
                    </table>
                </div>
                
                <button v-on:click="downloadRawData">Получить сырые данные</button>
                <button v-on:click="showHideGraphicRawData">График сырых данных</button>
                <custom-table v-bind:data="rawData" code="RawData" 
                    v-bind:fieldsNames="info.fieldsNames" v-show="wasInitRawData"></custom-table>
                <custom-graphic code="RawDataG" v-bind:data="rawData" v-bind:graphicWidth="gWidth" 
                    v-bind:graphic="graphicRawData"></custom-graphic>

                <br/>
                <button v-on:click="downloadNormalizedData">Получить нормализованые данные</button>
                <button v-on:click="showHideGraphicNormalizedData">График нормализованых данных</button>
                <custom-table v-bind:data="normalizedData" code="NormalizedData"
                    v-bind:fieldsNames="info.fieldsNames" v-show="wasInitNormalizedData"></custom-table>
                <custom-graphic code="NormalizedDataG" v-bind:data="normalizedData" v-bind:graphicWidth="gWidth" 
                    v-bind:graphic="graphicNormalizedData"></custom-graphic>


            </div>
        </container>
    </div>
</div>