@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="data-manager">
    <div class="data-windows">
        <data-window name="Курс доллара к рублю" code="UsdToRub"></data-window>
        <data-window name="Индекс Французской биржы CAC40" code="Cac40"></data-window>
        <data-window name="Индекс Шаньханьской биржы CSI200" code="Csi200"></data-window>
        <data-window name="Индекс Dow&Jones" code="DowJones"></data-window>
        <data-window name="ВВП по ППС на душу населения (Россия)" code="GdpPerCapitaPpp"></data-window>
        <data-window name="Цена на золото" code="Gold"></data-window>
        <data-window name="Инфляция (Россия)" code="Inflation"></data-window>
        <data-window name="Индекс московской биржи ММВБ" code="Mmvb"></data-window>
        <data-window name="Цена на нефть марки Brent" code="OliBrent"></data-window>
        <data-window name="Цена на нефть марки Light" code="OliLight"></data-window>
        <data-window name="Ставка рефинансирования (Россия)" code="RefinancingRate"></data-window>
        <data-window name="Индекс московской биржи РТС" code="Rts"></data-window>
        <data-window name="Индекс S&P 500" code="SAndP"></data-window>
        <data-window name="Торговый баланс (Россия)" code="TradeBalance"></data-window>
        <data-window name="Итоговые данные для нейронной сети" code="DataForNeuralNetwork"></data-window>
    </div>
</div>