@import "../consts.scss";

.custom-graphic {
    .range {
        width: 50%;
        margin-left: 15px;
    }
    .graphic {
        margin: 10px 60px 10px 10px;
        flex-grow: 3;
        background: #F9F9F9;
        height: 500px;
        box-shadow: $shadowMaterialDesignInsets;
        color: $orangeTextColor;

        svg {
            width: 100%;
            height: 100%;
            margin: 0px;

            path {
                stroke: $lazureTextColor;
                fill: none;
                stroke-width: 2;
            }

            .grid-line {
                stroke: $lazureTextColor;
                stroke-opacity: 0.2;
            }

            path, line {
                fill: none;
                stroke: $lazureTextColor;
            }
        }
    }
}
