@import "../consts.scss";

.data-window {
    color: $lazureTextColor;
    padding: 15px;
    min-width: 33.333333%;
    width: auto;

    .meta {
        flex-grow: 1;
        min-width: 30%;

        .add-button {
            text-align: center;
            width: 10%;
            font-size: 24px;
            padding: 5px 0px 0px 10px;
        }

        .additional {
            display: flex;
            color: $orangeTextColor;
            margin-bottom: 10px;

            .additional-item {
                width: 20%;
            }
        }

        .value {
            float: right;
        }
    }

    .graphic {
        width: auto;
    }
}

@media (max-width: 1300px) {
    .data-window {
        min-width: 50%;
    }
}

@media (max-width: 800px) {
    .data-window {
        min-width: 100%;
    }
}