@import "../consts.scss";

.data-window {
    color: $lazureTextColor;
    padding: 15px;
    min-width: 30%;
    width: auto;

    .name {
        display: flex;
        padding: 10px;
        background: white;
        width: 100%;
        box-shadow: $shadowMaterialDesign;
        font-size: 16px;
        font-weight: 500;

        .text {
            width: 95%;
        }
    }

    .information {
        display: flex;
        margin-top: 2px;
        padding: 10px;
        background: white;
        width: auto;
        height: auto;
        box-shadow: $shadowMaterialDesign;

        .meta {
            flex-grow: 1;
            min-width: 30%;

            .add-button {
                text-align: center;
                width: 10%;
                font-size: 24px;
                padding: 5px 0px 0px 10px;
            }

            .additional {
                display: flex;
                color: $orangeTextColor;
                margin-bottom: 10px;

                .additional-item {
                    width: 20%;
                }
            }

            .table {
                max-height: 400px;
                overflow: auto;

                table {
                    tr {
                        height: 20px;
                    }

                    td {
                        .updated {
                            color: red;
                        }

                        i {
                            color: $orangeTextColor;
                        }
                    }
                }
            }

            .page {
                color: $orangeTextColor;
                width: 150px;
                margin: 0 auto;

                input {
                    max-width: 40px;
                }
            }
        }

        .graphic {
            margin: 10px;
            flex-grow: 3;
            background: #F9F9F9;
            height: 500px;
            box-shadow: $shadowMaterialDesignInsets;
            color: $orangeTextColor;

            svg {
                width: 100%;
                height: 100%;
                margin: 0px;

                path {
                    stroke: $lazureTextColor;
                    fill: none;
                    stroke-width: 2;
                }
            }
        }

        .spinner {
            background-color: rgb(255, 255, 255);
            width: 100%;
            height: 500px;
            text-align: center;
            vertical-align: central;
            line-height: 500px;
            font-size: 24px;
        }

        ::-webkit-scrollbar-button {
            background-image: url('');
            background-repeat: no-repeat;
            width: 5px;
            height: 0px
        }

        ::-webkit-scrollbar-track {
            background-color: #ecedee
        }

        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 0px;
            border-radius: 0px;
            background-color: $lazureTextColor;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: $orangeTextColor;
        }

        ::-webkit-resizer {
            background-image: url('');
            background-repeat: no-repeat;
            width: 4px;
            height: 0px
        }

        ::-webkit-scrollbar {
            width: 4px;
        }
    }
}

@media (max-width: 1300px) {
    .data-window {
        min-width: 50%;
    }
}