@import "../consts.scss";

.data-window {
    color: $lazureTextColor;
    padding: 15px;
    min-width: 30%;
    width: auto;

    .name {
        display: flex;
        padding: 10px;
        background: white;
        width: 100%;
        box-shadow: $shadowMaterialDesign;
        font-size: 16px;
        font-weight: 500;

        .text {
            width: 95%;
        }
    }

    .information {
        display: flex;
        margin-top: 2px;
        padding: 10px;
        background: white;
        width: auto;
        height: auto;
        box-shadow: $shadowMaterialDesign;

        .meta {
            flex-grow: 1;
            min-width: 30%;

            .add-button {
                text-align: center;
                width: 10%;
                font-size: 24px;
                padding: 5px 0px 0px 10px;
            }

            .additional {
                display: flex;
                color: $orangeTextColor;
                margin-bottom: 10px;

                .additional-item {
                    width: 20%;
                }
            }

            .value {
                float: right;
            }
        }
    }
}

@media (max-width: 1300px) {
    .data-window {
        min-width: 50%;
    }
}